//Premium Sage

:root {
    --sage-50: #f8faf9;
    --sage-100: #f1f4f3;
    --sage-200: #e4e9e7;
    --sage-300: #d1d9d5;
    --sage-400: #a8b8b1;
    --sage-500: #879a90;
    --sage-600: #6a7f74;
    --sage-700: #57685f;
    --sage-800: #48544d;
    --sage-900: #3e4742;
    --sage-950: #252c28;

  